- update.sort_default_comments.each do |comment|
  - if comment.valid?
    .comment
      .comment_name 
        = comment.user.name
      .comment_created_at
        = time_ago_in_words(comment.created_at)
      .comment_reply_btn
        = link_to 'reply', '#'
      .comment_rating
        = link_to 'upv', '#'
        = link_to 'dwnv', '#'
        rating:
        = comment.rating
      = render partial: 'comments/content', locals: { id: comment.id, comment: comment}