= render partial: 'shared/error_messages', locals: { obj: @idea }
.row-fluid
  .span12.form
    = form_for @idea, url: ideas_path, remote: true, class: 'ideaform' do |f|
      .span6
        .form-horizontal
          = render partial: 'shared/textfield',  locals: { label: :title, field: :title, f: f }
          = render partial: 'shared/textfield',  locals: { label: :location, field: :location, f: f }
          = render partial: 'shared/textfield',  locals: { label: :tags, field: :tags_tmp, f: f }
      .span5
        .form-horizontal
          = f.label :description
          = f.text_area :description
          %p.help-block#first-collab
            = f.label :First_Collaborators
          .first-collab
            %span.add-on#icon-envelope
              %i.icon-envelope
            = f.text_field :collaborators_tmp, class: 'span25', id: 'inputIcon'
    
          = f.submit 'Create', class: 'create_btn button', id: 'ideaform'
        