<%= render partial: 'shared/error_messages', 
					 locals: { obj: @idea } %>

<div class="row-fluid">
<div class="span12 form">

  <!-- , remote: true -->
  <!-- Use AJAX to enforce good behavior before submit -->
  <%= form_for @idea, url: ideas_path, remote: true, class: 'ideaform' do |f| %>
  	<div class="span6">
			<div class="form-horizontal" %>
  		
				<%= render partial: "shared/textfield", 
									  locals: { label: :title, field: :title, f: f }  %>
				<%= render partial: "shared/textfield", 
									  locals: { label: :location, field: :location, f: f }  %>
				<%= render partial: "shared/textfield", 
									  locals: { label: :tags, field: :tags_tmp, f: f }  %>
     
    	</div>
    </div>

   	<div class="span5">
   		<div class="form-horizontal">
	 	  	<%= f.label :description %>
	 	  	<%= f.text_area :description %>

	 	  	<p class="help-block", id: "first-collab"><%= f.label :First_Collaborators %></p>						   
    		<div class="first-collab">
      		<span class="add-on", id: "icon-envelope"><i class="icon-envelope"></i></span>
	 	  		<%= f.text_field :collaborators_tmp, class: "span25", id: "inputIcon" %>
	 	  	</div>

  	 	  <!-- <div class="help-block", id: "create"> -->
    	 	  <%= f.submit "Create", class: "create_btn button", id: "ideaform" %>
    	 	<!-- </div> -->
   	  </div>
    </div>
  <% end %>   <!-- form-for -->
</div>