<% if user_signed_in? %>

<div class="container-fluid">
   
        <div class="span3">
            <!--1st column-->
            <div id="midCol" data-spy="affix" data-offset-top="250" class="">
                
                 <h4 class="caption"> 
                 	<%= gravatar_for current_user%>
					<%= current_user.name%>
				</h4> 
                <hr class="">
         </div>
            <!--/2nd column-->
        </div>
        <!--/span3-->
        <div class="span7">
           
        	<div class="well">
	            <form accept-charset="UTF-8" action="" method="POST">
					<textarea class="span4" id="new_message" name="new_message" placeholder="Title of New Project" rows="5"></textarea>
					<button class="btn btn-info" type="submit">Ceate</button>
				</form>
            </div>

            <div class="well">
                <h1 class="">Example project 1</h1>
                <p class="">This will show the old project 1 that this user has been working on 
                </p> 
            <a href="#" class="btn btn-primary">Details</a>
            </div>

            <div class="well">
                <h1 class="">Example project 2</h1>
                <p class="">This will show the old project 2 that this user has been working on 
                </p> 
            <a href="#" class="btn btn-primary">Details</a>
            </div>     
        </div>
    </div>


<div class= "row">
	<aside>
	</aside>
	<div class="span8">
		<% if current_user.pins.any? %>
			<h3> Hot Projects (<%= current_user.pins.count %>)</h3>
			<ol class="pins">
				<% @pins = current_user.pins.paginate(page: params[:page]) %> 

				<%= render @pins %>
			</ol>
			<%= will_paginate@pins %>
		<% end %>
	</div>
</div>



<!-- <h1>Welcome! This will be our users portfolio </h1> -->
<% else %>

<div class= "span12 pagination-centered">
	<div class="hero-unit">

		<h1>Welcome to IdeaBind</h1>
		<p>
			Liberate Your Natural Genius
		</p>
		<p>
			<%= link_to"Sign up Now", new_user_registration_path, class: "btn btn-primary btn-large " %>
		</p>
	</div>
	<div class="well">
		<p>
			<strong>Sample Projects</strong>
		</p>
		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="row-fluid">
						<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
							<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								</div><!--/row-fluid-->
								</div><!--/item-->
								<div class="item">
								<div class="row-fluid">
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								</div><!--/row-fluid-->
								</div><!--/item-->
								<div class="item">
								<div class="row-fluid">
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
								<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
							<div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
						</div><!--/row-fluid-->
					</div><!--/item-->
				</div><!--/carousel-inner-->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
			</div><!--/myCarousel-->
		</div><!--/well-->
	</div>

<% end %>
