- if user_signed_in?

	.container-fluid
		.span3
			#midCol{"data-spy" => 'affix', "data-offset-top" => "250"}
				#h4.caption
					= gravatar_for current_user
					= current_user.name

		.span7
			.well
				%form{"accept-charset" => "UTF-8", action: "",
							method: "POST" }
					%textarea.span4#new_message{name: "new_message", placeholder: "Title of New Project", rows: "5"}
					%button.btn.btn-info{type:"submit"} Create

			/ @projects should be calculated in the controller, perhaps? 

			- @projects = [ {title: "Example Project 1", description: "This will show the old project 1 that this user has been working on"}, {title: "Example Project 2", description: "This will show the old project 2 that this user has been working on"} ]
			- @projects.each do |project|
				.well
					%h2= project[:title]
					%p=  project[:description]
					%a.btn.btn-primary{href: '#'} Details
			
- else 

	.span12.pagination-centered
		.hero-unit
			%h1 Welcome to IdeaBind
			%p Liberate your Natural Genius
			%p= link_to "Sign up Now", new_user_registration_path, class: 'btn btn-primary btn-large'
		
		.well
			%p
				%strong Sample Projects
			#myCarousel.carousel.slide
				%ol.carousel-indicators
					%li.active{ "data-target" => "#myCarousel", "data-slide-to" => "0" }
					%li{ "data-target" => "#myCarousel", "data-slide-to" => "1" }
					%li{ "data-target" => "#myCarousel", "data-slide-to" => "2" }

				.carousel-inner
					.item.active
						.row-fluid
							- 4.times do
								.span3
									%a.thumbnail{href: "#x" }
										%img{src: "http://placehold.it/250x250", alt:"Image", style:"max-width:100%"}
					- 2.times do
						.item
							.row-fluid
								- 4.times do
									.span3
										%a.thumbnail{href: "#x" }
											%img{src: "http://placehold.it/250x250", alt:"Image", style:"max-width:100%"}
					
				%a.left.carousel-control{"data-slide" => "prev", href:"#myCarousel" } ‹
				%a.right.carousel-control{"data-slide" => "next", href:"#myCarousel" } ›