/ Page content/ this most recent update/we want this to be as visible as possible
= if !update.nil?
  .page-header
  #page-content-wrapper
    .content-header
      %h1
        %a#menu-toggle.btn.btn-default{href: "#"}
          %i.icon-reorder
        = update.title 
    / Keep all page content within the page-content inset div!
    .page-content.inset
      .row
        %a{href: "#"}
          %img.img-responsive{src: "http://placehold.it/600x400"}/
        %h3 Description
        %p
          = simple_format(h update.description)
        / Comment Box/ this looks shitty right now but I would love for you to implement that comments modal you've been working on
        .leave_a_comment
          %h4 Leave a Comment:
      
          - @comment = Comment.new()
          - debug @idea
          - debug @update_to_show
          - debug @comment
          #comment_textarea
            = render partial: 'comments/create_comment'

        .update-comments
          = render partial: 'comments/update_comments', locals: { update: @update_to_show }
          