<!-- Page content/ this most recent update/we want this to be as visible as possible -->
<div class="page-header"></div>
<div id="page-content-wrapper">
  <div class="content-header">
    <h1>
      <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
      <%= update.title %>
    </h1>
  </div>
  <!-- Keep all page content within the page-content inset div! -->
  <div class="page-content inset">
    <div class="row">
      <a href="#"><img class="img-responsive" src="http://placehold.it/600x400"></a>
      <h3>Description</h3>
      <p>(140 Character!) <%= update.description %></p>
    <!-- Comment Box/ this looks shitty right now but I would love for you to implement that comments modal you've been working on-->
    <div class="well">
      <h4>Leave a Comment:</h4>
    
      <div class="form-group">
        <!-- <textarea class="form-control" rows="3"></textarea> -->
                <!-- Create a comment -->
        <% @comment = Comment.new() %>
        <% debug @idea %>
        <% debug @update_to_show %>
        <% debug @comment %>


        <%= form_for([@idea, @update_to_show, @comment]) do |f| %>
        <%= f.text_area :content %>
        <%= f.submit "Create" %>
        <% end %>  
        </div>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        
        

      </div>
    </div>
  </div>  
  <div class="well update-comments">
    <% @update_to_show.sort_default_comments.each do |parental| %>
      <div class="comment">
        <%= parental.content if !parental.nil?%>
      </div>
    <% end %>
  </div>


</div>