<!DOCTYPE html>
<html>
	<head>
	  <title><%= 	if user_signed_in? && 
	  	           (request.url == profile_url || 
	  	           	request.url == edit_user_registration_url) 
						  		current_user.name 
	  					  else 
	  					  	"ideabind"
	  					  end
	  					  		%></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
			<div class="container">
				<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, class: "alert alert-#{name}" %>
				<% end %>
				<%= yield %> 
				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
			</div>
	</body>
</html>
